In [26]:
import pandas as pd 

my_data_df = pd.read_csv('./data/01_data.csv')
print(my_data_df)

       x-var    make        day
0 -14.452810     bmw       thur
1 -15.384004  Toyota  wednesday
2  -9.167911     bmw    thurday
3   6.759264  Toyota        wed
4 -26.004919  Toyota  wednesday
5  25.673620  Toyota        wed
6 -25.164967     bmw  wednesday
7 -74.405515   tesla    thurday

In [15]:
my_data_df['make'] = my_data_df['make'].apply(lambda x: x.title() if x != 'bmw' else x.upper())

print(my_data_df)

       x-var    make        day
0 -14.452810     BMW       thur
1 -15.384004  Toyota  wednesday
2  -9.167911     BMW    thurday
3   6.759264  Toyota        wed
4 -26.004919  Toyota  wednesday
5  25.673620  Toyota        wed
6 -25.164967     BMW  wednesday
7 -74.405515   Tesla    thurday

In [16]:
my_data_df['day'] = my_data_df['day'].apply(lambda x: 'Wednesday' if x == 'wed' else x.title())
print(my_data_df['day'])

0         Thur
1    Wednesday
2      Thurday
3    Wednesday
4    Wednesday
5    Wednesday
6    Wednesday
7      Thurday
Name: day, dtype: object

In [27]:
def correct_word(x, wrong_word, right_word):
    x = x.title()
    if x == wrong_word:
        return right_word
    else:
        return x

my_data_df['day'] = my_data_df['day'].apply(lambda x: correct_word(x, 'Wed', 'Wednesday'))
my_data_df['day'] = my_data_df['day'].apply(lambda x: correct_word(x, 'Thur', 'Thursday'))
my_data_df['day'] = my_data_df['day'].apply(lambda x: correct_word(x, 'Thurday', 'Thursday'))

print(my_data_df['day'])

0     Thursday
1    Wednesday
2     Thursday
3    Wednesday
4    Wednesday
5    Wednesday
6    Wednesday
7     Thursday
Name: day, dtype: object

0     Thursday
1    Wednesday
2     Thursday
3    Wednesday
4    Wednesday
5    Wednesday
6    Wednesday
7     Thursday
Name: day, dtype: object